<!-- views/chat.hbs -->
{{#section "scripts"}}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/resources/js/chat/chatScript.js"></script>
{{/section}}

<div class="container py-4">
  <div class="row">
    <!-- Friends List Sidebar -->
    <div class="col-md-3 border-end">
      <h5 class="mb-3">Friends</h5>
      <ul class="list-unstyled">
        {{#each friends}}
          <li class="mb-3">
            <!-- 
              Click friend to load messages. 
              We pass friend.id in the URL to identify which conversation. 
            -->
            <a href="/chat/{{this.id}}" class="text-decoration-none">
              <span>{{this.username}}</span>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>

    <!-- Chat Panel -->
    <div class="col-md-9">
      {{!-- Chat header partial displays friend’s name if selected; otherwise shows default text --}}
      {{> chat_header user=chatPartner}}
      
      <div class="card">
        <div class="card-body overflow-auto" style="height: 400px;" id="chat-box" data-chat-partner-id="{{chatPartnet.id}}" data-current-user-id="{{currentUserId}}">
          {{#if chatPartner}}
            {{#if messages.length}}
              {{#each messages}}
                {{> message_bubble message=this }}
              {{/each}}
            {{else}}
              <p class="text-muted">No messages yet.</p>
            {{/if}}
          {{else}}
            <p class="text-muted">Select a friend from the list to start chatting.</p>
          {{/if}}
        </div>
        {{!-- Only render the chat input if a chat partner is selected --}}
        {{#if chatPartner}}
          <div class="card-footer">
            {{> chat_input chatPartnerId=chatPartner.id }}
          </div>
        {{/if}}
      </div>
  </div>
</div>
