<h2>Your Matches</h2>
<ul class="list-group">
  {{#each matches}}
    <li class="list-group-item">
      <h4>{{this.candidate.display_name}}</h4>
      <p><strong>Gender:</strong> {{this.candidate.gender}}</p>
      <p><strong>Preferred Gender:</strong> {{this.candidate.preferred_gender}}</p>
      <p><strong>Jaccard Score:</strong> {{this.jaccardScore}}</p>
      <p><strong>Age Match:</strong> {{this.ageScore}}</p>
      <p><strong>Distance Score:</strong> {{this.distanceScore}}</p>
      {{#if this.actualDistance}}
        <p><strong>Distance:</strong> {{this.actualDistance}} miles</p>
      {{/if}}
      <p><strong>Total Match Score:</strong> {{this.finalScore}}</p>
    </li>
  {{/each}}
</ul>
